doctype
html
  head
    title Have a good frontend!
  body
    p.title Have a good frontend!
    a(href="https://www.irasutoya.com" target="_blank")
      img.image(src="/assets/img/image.png")
    link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
    script(src="/assets/js/script.min.js")
